.footer {
	background-color: rgba(184, 199, 159, 0.705);
	padding-bottom: 20px;
	padding-top: 20px;
	color: #4B762A;
	line-height: .3;
	text-align: center;
	font-size: 14px;
	width: 100%;
	height: auto;
}