.footer {
		background-color: rgba(231, 230, 230, 0.705);
		padding-bottom: 20px;
		color: white;
		line-height: .3;
		text-align: center;
		font-size: 12px;
		width: 100%;
		height: auto;
		
		
		
	}