p, h4 {
	color: #143E03;
	font-family: 'Bai Jamjuree', sans-serif;
	}
	
	html {
		
		scroll-behavior: smooth;
	}

	

	.social-iconos li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	
	.regadera img{
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}
	
	.sol img{
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}
	
	.tiempo img{
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}
	
	.corazon {
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}
	
	#contenedor {
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
    	height: auto;
		background-color: white;
		text-align:center;
		margin-top: 100px;
		margin-bottom: 50px;
	}
	
	.row{
		
		margin-left: auto;
    	margin-right: auto;
		width: auto;
		height: auto;
		text-align: center;
	}

	
	.introduction{
		width: 90%;
		padding-bottom: 100px;
		padding-top: 100px;
		height: auto;
		margin-left: auto;
    	margin-right: auto;
		text-align:center;
		background-image: url(../imgs/fondo_perfil.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		
	}
	
	.col-md-11 h4{
		font-size: 35px;
	}
	
	.info p{
		text-align: justify;
	}

	.col-md-12
	{
		width: auto;
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-right: 200px;
		background-image: url(../imgs/lista.png);
		background-repeat: no-repeat;
		background-size: 95% 100%;
		
	}

	.col-2 img{
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}
	
	.col-6 img{
		width: 80px;
		height: 101px;
		left: 598px;
		top: 220px;
	}

	.eucalipto img{
		width: 300px;
		height: 301px;
		left: 598px;
		top: 220px;
		border-radius: 200px;
	}

	.separador{
		height: 100px;
		padding-bottom: 50px;
		margin: auto;
	}

	.linea-separa{
		border: 1px solid rgba(96, 158, 59, 0.53);
	}